body {background-color: rgb(0,0, 0);
    margin-left: 0%;
    margin-right: 0%;
}
#titulo, .container, #timer {
    color:#e5e619;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content:space-around;
    font-size: 30px;
    text-align: center;
}

#gema {
    text-align: center;
    height: 200%;
}

#timer {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

.botao {
    font-size: 1.2em;
    background: #e5e619;
    border-radius: 10px;
    color: black;
    padding: 0.4em 0.8em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.botao:hover{
    background: white;
    box-shadow: inset 2px 2px 2px 2px #e5e619;
    text-shadow: none;
}
